@import 'tailwindcss';

@source "../app";
@source "../pages";
@source "../../resources/views";

@theme {
  --color-primary-1: #fdfcff;
  --color-primary-2: #faf8fe;
  --color-primary-3: #f4eefd;
  --color-primary-4: #ede3fb;
  --color-primary-5: #e5d7f7;
  --color-primary-6: #dac8f0;
  --color-primary-7: #cbb4e8;
  --color-primary-8: #b99bdd;
  --color-primary-9: #52366f;
  --color-primary-10: #634781;
  --color-primary-11: #765996;
  --color-primary-12: #42265d;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
